body {
    background-color: aqua;
}
h1 {
    color: rgb(235, 238, 233);
}

.app {
    display:flex;
    justify-content: center;
}



.container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}

